In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3),index = ['a','b','d','f'],columns = ['One','Two','Three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original dataframe with NaN\n",df)
print("\n")
print("Dropped Dataframe\n",df.dropna())
print("\n")

Original dataframe with NaN
         One       Two     Three
a -0.002323 -0.096927  2.170297
b  0.854588  2.090973  0.604475
c       NaN       NaN       NaN
d -1.520795  0.763793 -2.114073
e       NaN       NaN       NaN
f -2.190814  1.445427 -1.410632


Dropped Dataframe
         One       Two     Three
a -0.002323 -0.096927  2.170297
b  0.854588  2.090973  0.604475
d -1.520795  0.763793 -2.114073
f -2.190814  1.445427 -1.410632

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3),index = ['a','b','d','f'],columns = ['One','Two','Three'])
df = df.reindex(['a','b','c'])
print("Original dataframe with NaN\n",df)
print("\n")
print("Nan replaced with '1':\n",df.fillna(1))
print("\n")

Original dataframe with NaN
         One       Two     Three
a -0.477220  1.014564  0.738913
b  0.937508 -0.306464  0.112302
c       NaN       NaN       NaN


Nan replaced with '1':
         One       Two     Three
a -0.477220  1.014564  0.738913
b  0.937508 -0.306464  0.112302
c  1.000000  1.000000  1.000000

In [12]:
 import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4,3),index = ['a','b','d','f'],columns = ['One','Two','Three'])
df = df.reindex(['a','b','c','d','e','f'])
print("Original dataframe with NaN\n",df)
print("\n")
print("NaN with true fill:\n")
print(df['One'].isnull())
print("\n")
print("\nNaN_filled with background values:\n")
print(df.bfill())
print("\nNaN_filled with forward fill:\n")
print(df.ffill())

Original dataframe with NaN
         One       Two     Three
a  0.516563  1.246034 -1.545307
b  0.451707  0.027877 -0.493403
c       NaN       NaN       NaN
d -0.003422 -1.978575  0.057730
e       NaN       NaN       NaN
f -0.698871 -2.198497  0.553146


NaN with true fill:

a    False
b    False
c     True
d    False
e     True
f    False
Name: One, dtype: bool



NaN_filled with background values:

        One       Two     Three
a  0.516563  1.246034 -1.545307
b  0.451707  0.027877 -0.493403
c -0.003422 -1.978575  0.057730
d -0.003422 -1.978575  0.057730
e -0.698871 -2.198497  0.553146
f -0.698871 -2.198497  0.553146

NaN_filled with forward fill:

        One       Two     Three
a  0.516563  1.246034 -1.545307
b  0.451707  0.027877 -0.493403
c  0.451707  0.027877 -0.493403
d -0.003422 -1.978575  0.057730
e -0.003422 -1.978575  0.057730
f -0.698871 -2.198497  0.553146

In [13]:
df = pd.DataFrame({'One':[10,20,80,40,50],'Two':[60,70,80,0,10]})
print("Original DataFrame:\n",df)
print("\nDataframe with replaced values:\n")
print(df.replace({10:5,80:30}))

Original DataFrame:
    One  Two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

Dataframe with replaced values:

   One  Two
0    5   60
1   20   70
2   30   30
3   40    0
4   50    5