In [32]:
import pandas as pd
d=pd.read_csv("Kishore (230901048) - Sheet1 (2).csv")
print(d)

    S.no First Name   Gender  Login Time (AM)    Salary  Bonus(%)  \
0      1       Alexa  Female               12    50,000        39
1      2        Brad    Male               10  1,00,000        40
2      3       Tobey    Male                8    75,000        50
3      4         Leo    Male               11    80,000         4
4      5        Emma  Female               11    25,000        18
..   ...         ...     ...              ...       ...       ...
95    96      Mathew    Male               11    30,000        22
96    97    Hermoine  Female                8  1,50,000        27
97    98       Harry    Male                8    40,000        28
98    99      Cedric    Male                9    35,000         9
99   100    Hamilton    Male               11    65,000        14

   Team(Department)
0        Electrical
1                IT
2                IT
3                IT
4        Electrical
..              ...
95       Electrical
96       Electrical
97               IT
98               IT
99               IT

[100 rows x 7 columns]

In [33]:
df = pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['S.no', 'First Name ', 'Gender', 'Login Time (AM)', 'Salary',
       'Bonus(%)', 'Team(Department)'],
      dtype='object')
(100, 7)

In [34]:
import pandas as pd
d=pd.read_csv("Kishore (230901048) - Sheet1.csv")


print("Team", df['Team(Department)'])

Team 0     Electrical
1             IT
2             IT
3             IT
4     Electrical
         ...
95    Electrical
96    Electrical
97            IT
98            IT
99            IT
Name: Team(Department), Length: 100, dtype: object

In [35]:
print(df[5:10])

   S.no First Name   Gender  Login Time (AM)    Salary  Bonus(%)  \
5     6      Mathew    Male                8    30,000        35
6     7    Hermoine  Female                8  1,50,000        41
7     8       Harry    Male               12    40,000         1
8     9      Cedric    Male               11    35,000        21
9    10    Hamilton    Male               11    65,000        39

  Team(Department)
5       Electrical
6       Electrical
7               IT
8               IT
9               IT

In [36]:
print("Particular Person details",df.loc[5])

Particular Person details S.no                         6
First Name              Mathew
Gender                    Male
Login Time (AM)              8
Salary                  30,000
Bonus(%)                    35
Team(Department)    Electrical
Name: 5, dtype: object

In [47]:
import pandas as pd

# Read the CSV file
d = pd.read_csv("Kishore (230901048) - Sheet1 (4).csv")

# Clean column names and values
d.columns = d.columns.str.strip()  # Remove spaces from column names
d['Salary'] = pd.to_numeric(d['Salary'], errors='coerce')  # Convert Salary to numeric

# Check for the value 100000
print(d.loc[d['Salary'] == 100000])

    S.no First Name Gender  Login Time (AM)    Salary  Bonus(%)  \
1      2       Brad   Male               10  100000.0        40
11    12       Brad   Male                9  100000.0         7
21    22       Brad   Male                9  100000.0        14
31    32       Brad   Male               10  100000.0        35
41    42       Brad   Male                9  100000.0        27
51    52       Brad   Male               12  100000.0        10
61    62       Brad   Male                9  100000.0        46
71    72       Brad   Male                9  100000.0        24
81    82       Brad   Male               10  100000.0        43
91    92       Brad   Male                8  100000.0        42

   Team(Department)
1                IT
11               IT
21               IT
31               IT
41               IT
51               IT
61               IT
71               IT
81               IT
91               IT

In [46]:
import pandas as pd

# Read the CSV file
d = pd.read_csv("Kishore (230901048) - Sheet1 (4).csv")

# Convert the 'Salary' column to numeric, invalid values become NaN
d['Salary'] = pd.to_numeric(d['Salary'], errors='coerce')

# Perform the division
df = d['Salary'] / 999

# Print the result
print(df)

0      50.050050
1     100.100100
2      75.075075
3      80.080080
4      25.025025
         ...
95     30.030030
96           NaN
97     40.040040
98     35.035035
99     65.065065
Name: Salary, Length: 100, dtype: float64