In [17]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
print(d)

    SNO FIRST NAME DESIGNATION  GENDER  LOGIN TIME  SALARY        TEAM
0     1       Brad    Reviewer    MALE        2014  100000  HR:FINANCE
1     2        Leo         CFA  FEMALE        2014  200000  PR:FINANCE
2     3       Will         CPA    MALE        2014  650000  CR:FINANCE
3     4     Mathew        FMVA  FEMALE        2014  839000  HR:FINANCE
4     5       Hans        CAIA    MALE        2013  473930  PR:FINANCE
..  ...        ...         ...     ...         ...     ...         ...
94   95       Hans        FMVA  FEMALE        2013  473930  PR:FINANCE
95   96       Anna        CAIA    MALE        2013  377820  CR:FINANCE
96   97     Johnny         CFP  FEMALE        2013  100000  HR:FINANCE
97   98      Amber         FRM  FEMALE        2013  200000  PR:FINANCE
98   99      Jason    Reviewer    MALE        2013  650000  CR:FINANCE

[99 rows x 7 columns]

In [18]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['SNO', 'FIRST NAME', 'DESIGNATION', 'GENDER', 'LOGIN TIME', 'SALARY',
       'TEAM'],
      dtype='object')
(99, 7)

In [19]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
print("Team",df['TEAM'])

Team 0     HR:FINANCE
1     PR:FINANCE
2     CR:FINANCE
3     HR:FINANCE
4     PR:FINANCE
         ...
94    PR:FINANCE
95    CR:FINANCE
96    HR:FINANCE
97    PR:FINANCE
98    CR:FINANCE
Name: TEAM, Length: 99, dtype: object

In [20]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
print(df[5:10])

   SNO FIRST NAME DESIGNATION  GENDER  LOGIN TIME  SALARY        TEAM
5    6       Anna         CFP    MALE        2013  377820  CR:FINANCE
6    7     Johnny         FRM  FEMALE        2013  100000  HR:FINANCE
7    8      Amber    Reviewer    MALE        2013  200000  PR:FINANCE
8    9      Jason         CFA  FEMALE        2013  650000  CR:FINANCE
9   10    Patrick         CPA  FEMALE        2013  839000  HR:FINANCE

In [23]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
print("Particular person details\n",df.loc[2])

Particular person details
 SNO                     3
FIRST NAME           Will
DESIGNATION           CPA
GENDER               MALE
LOGIN TIME           2014
SALARY             650000
TEAM           CR:FINANCE
Name: 2, dtype: object

In [22]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
print(d.loc[d['SALARY']==100000])

    SNO FIRST NAME DESIGNATION  GENDER  LOGIN TIME  SALARY        TEAM
0     1       Brad    Reviewer    MALE        2014  100000  HR:FINANCE
6     7     Johnny         FRM  FEMALE        2013  100000  HR:FINANCE
12   13       Will         CFP  FEMALE        2014  100000  HR:FINANCE
18   19      Jason        CAIA    MALE        2013  100000  HR:FINANCE
24   25       Hans        FMVA    MALE        2013  100000  HR:FINANCE
30   31       Brad         CPA  FEMALE        2014  100000  HR:FINANCE
36   37     Johnny         CFA  FEMALE        2013  100000  HR:FINANCE
42   43       Will    Reviewer  FEMALE        2014  100000  HR:FINANCE
48   49      Jason         FRM    MALE        2013  100000  HR:FINANCE
54   55       Hans         CFP    MALE        2013  100000  HR:FINANCE
60   61       Brad        CAIA    MALE        2014  100000  HR:FINANCE
66   67     Johnny        FMVA    MALE        2013  100000  HR:FINANCE
72   73       Will         CPA  FEMALE        2014  100000  HR:FINANCE
78   79      Jason         CFA  FEMALE        2013  100000  HR:FINANCE
84   85       Hans    Reviewer    MALE        2013  100000  HR:FINANCE
90   91       Brad         FRM    MALE        2014  100000  HR:FINANCE
96   97     Johnny         CFP  FEMALE        2013  100000  HR:FINANCE

In [24]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/KC CSV1 - Sheet1.csv")
df=d['SALARY']/999
print(df)

0     100.100100
1     200.200200
2     650.650651
3     839.839840
4     474.404404
         ...
94    474.404404
95    378.198198
96    100.100100
97    200.200200
98    650.650651
Name: SALARY, Length: 99, dtype: float64