In [2]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
import pandas as pd
emp=pd.Series(['uma','siva','sindhu','rare'])
id=pd.Series([10,20,30,40])
Frame={'Emp':emp,'Id':id}
result=pd.DataFrame(Frame)
print("\nSeries to data frame\n")
print(result)
print("\n Extracting one column")
print(result['Emp'])

Series to data frame

      Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

 Extracting one column
0       uma
1      siva
2    sindhu
3      rare
Name: Emp, dtype: object

In [4]:
#Adding a new column
result['Age']=pd.Series([20,25,30,50])
print(result)

      Emp  Id  Age
0     uma  10   20
1    siva  20   25
2  sindhu  30   30
3    rare  40   50

In [5]:
#Delete a existing column
del result['Age']
print(result)

      Emp  Id
0     uma  10
1    siva  20
2  sindhu  30
3    rare  40

In [6]:
#Extracting row
print("\n Extracting second row \n")
print(result.loc[1])

 Extracting second row

Emp    siva
Id       20
Name: 1, dtype: object

In [7]:
#Slice
print("Slice rows: \n",result[1:3])

Slice rows:
       Emp  Id
1    siva  20
2  sindhu  30

In [8]:
#concatination
d2 = pd.DataFrame(['Anu',20],['Jinu',19])
columns = ['Emp','Id']
print("\n Adding new row values \n",pd.concat([result,d2]))

 Adding new row values
          Emp    Id    0
0        uma  10.0  NaN
1       siva  20.0  NaN
2     sindhu  30.0  NaN
3       rare  40.0  NaN
Jinu     NaN   NaN  Anu
19       NaN   NaN   20

In [9]:
print(result.drop(2))

    Emp  Id
0   uma  10
1  siva  20
3  rare  40