In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -1.400948
2011-01-05    2.195921
2011-01-07   -2.255564
2011-01-08   -1.429426
2011-01-10    0.685949
2011-01-12    1.336041
dtype: float64

In [3]:
print("\nDate Index alone from the series: ",ts.index)

Date Index alone from the series:  DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [4]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [6]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01   -0.014177
2000-01-02   -0.172869
2000-01-03   -0.163721
2000-01-04   -0.406698
2000-01-05    0.626014
                ...
2002-09-22    1.020837
2002-09-23    0.825428
2002-09-24   -0.514563
2002-09-25   -2.493246
2002-09-26   -0.710622
Freq: D, Length: 1000, dtype: float64

In [8]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.742374
2001-01-02    0.505522
2001-01-03    1.429633
2001-01-04   -0.512123
2001-01-05    2.108963
                ...
2001-12-27    1.734185
2001-12-28    1.233378
2001-12-29    0.556781
2001-12-30   -0.203225
2001-12-31    0.619574
Freq: D, Length: 365, dtype: float64

In [9]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -1.219154
2001-05-02   -0.753541
2001-05-03   -1.272004
2001-05-04    0.576355
2001-05-05   -0.420748
2001-05-06    2.121066
2001-05-07   -0.619725
2001-05-08   -0.607003
2001-05-09    0.885151
2001-05-10   -0.514880
2001-05-11   -1.231459
2001-05-12   -0.942057
2001-05-13    0.849698
2001-05-14   -0.502108
2001-05-15   -1.380058
2001-05-16    0.229495
2001-05-17   -0.036332
2001-05-18    1.116703
2001-05-19    0.711498
2001-05-20    1.316146
2001-05-21   -1.320560
2001-05-22   -1.873794
2001-05-23    1.383202
2001-05-24    0.241315
2001-05-25    1.243899
2001-05-26    1.185763
2001-05-27    0.451984
2001-05-28    0.288230
2001-05-29    0.480886
2001-05-30   -0.867279
2001-05-31    0.232188
Freq: D, dtype: float64

In [10]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.014177
2000-01-02   -0.172869
2000-01-03   -0.163721
2000-01-04   -0.406698
2000-01-05    0.626014
Freq: D, dtype: float64

In [11]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01   -0.585239
2000-02-02   -1.024094
2000-02-03    1.732909
2000-02-04    0.270218
2000-02-05   -0.289376
2000-02-06   -1.390678
2000-02-07   -0.150802
2000-02-08    0.650666
2000-02-09   -0.440256
2000-02-10    1.995362
2000-02-11    0.136067
2000-02-12   -1.618489
2000-02-13    0.006214
2000-02-14    1.148302
2000-02-15   -2.503531
Freq: D, dtype: float64

In [12]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -1.606741
2000-09-27    0.463094
2000-09-28    2.030920
2000-09-29   -1.524577
2000-09-30   -2.035963
                ...
2002-09-22    1.020837
2002-09-23    0.825428
2002-09-24   -0.514563
2002-09-25   -2.493246
2002-09-26   -0.710622
Freq: D, Length: 731, dtype: float64

In [13]:
print("\nDate range from 26-9-2001 to 25-9-2002:\n",longer_ts[datetime(2001,9,26):datetime(2002,9,25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26   -0.293131
2001-09-27    0.862740
2001-09-28    1.431035
2001-09-29   -1.413706
2001-09-30    0.785396
                ...
2002-09-21    0.165436
2002-09-22    1.020837
2002-09-23    0.825428
2002-09-24   -0.514563
2002-09-25   -2.493246
Freq: D, Length: 365, dtype: float64